<h1 class="display-1 text-center">List of $(model_name(model))</h1>

<div class="container">
  $(partial(joinpath(Genie.config.path_resources, "admin", "views", "_create_form");
  context = context, model = model))
</div>



<h2>Objects</h2>


<table class="table table-sm">
  <thead>
    <tr>
      <% for_each(model_list_fields(model)) do field %>
      <th scope="col">
	$(model_field_names(model, field))
      </th>
      <% end %>
    </tr>
  </thead>
  <tbody>

    <% for_each(objects) do object %>
    <tr>
      <% for_each(model_list_fields(model)) do field %>
      <td> $(render_model_field(object, field; parents = parents[object])) </td>
      <% end %>
    </tr>
    <% end %>

  </tbody>
</table>
